.productsContainer {
    background: var(--gray-100);
    padding: 4rem 0;

    h2 {
        color: var(--gray-800);
    }
}

.productsContent {
    max-width: 74rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.productsList {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2.5rem;
    justify-content: space-between;
}

@media (max-width: 780px) {
    .productsList {
        justify-content: space-around;

    }
}