.bannerContainer {
    max-width: 1120px;
    margin: 0 auto;
}

.bannerContent {
    margin-top: 2rem;
    position: relative;
    height: 31.25rem;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerInfo {
    display: flex;
    flex-direction: column;

    align-self: flex-end;

    span:nth-child(1) {
        font-size: 2rem;
        font-weight: 700;
        color: var(--gray-200);
    }

    span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.25rem;
        color: var(--green-500);

        b {
            font-weight: 400;
            text-decoration: line-through;
        }
    }

    span:nth-child(3) {
        font-size: 7rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    button {
        width: fit-content;
        padding: 0.5rem;
        background: var(--green-500);
        color: var(--gray-100);
        border: 0;
        border-radius: 4px;

        &:hover {
            background: var(--green-400);
            transition: 0.1s;
        }
    }
}

.bannerImageContainer {
    position: absolute;
    left: 35%;
}

.bannerImage {
    height: 31.25rem;
    width: 31.25rem;
}

.descriptionContainer {
    align-self: flex-end;
    max-width: 300px;
    text-align: right;

    h2 {
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        color: var(--green-500);
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
    }
}