.bannerContainer {
    width: 100%;
    background: var(--gray-900);
}

.bannerContent {
    max-width: 74rem;
    margin: 0 auto;
    position: relative;
    height: 32.25rem;
    padding: 0 2rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerInfo {
    display: flex;
    flex-direction: column;

    align-self: flex-end;

    span:nth-child(1) {
        font-size: 2rem;
        font-weight: 700;
        color: var(--gray-200);
    }

    span:nth-child(2) {
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 0.25rem;
        color: var(--green-500);

        b {
            font-weight: 400;
            text-decoration: line-through;
        }
    }

    span:nth-child(3) {
        font-size: 7rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--gray-100);
    }

    button {
        width: fit-content;
        padding: 0.5rem;
        background: var(--green-500);
        color: var(--gray-100);
        border: 0;
        border-radius: 4px;
        z-index: 99;

        &:hover {
            background: var(--green-400);
            transition: 0.1s;
        }
    }
}

.bannerImageContainer {
    position: absolute;
    left: 35%;
    height: 31.25rem;
    width: 31.25rem;
}

.bannerImage {
    height: 31.25rem;
    width: 31.25rem;
}

.descriptionContainer {
    align-self: flex-end;
    max-width: 300px;
    text-align: right;
    margin-left: 1rem;

    h2 {
        font-weight: 700;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
        color: var(--green-500);
    }

    p {
        font-size: 0.875rem;
        font-weight: 300;
        color: var(--gray-100);
    }
}

@media (max-width: 1080px) {
    .bannerInfo {
        span:nth-child(3) {
            font-size: 6rem;
        }
    }

    .bannerImageContainer {
        height: 27rem;
        width: 27rem;
    }
}

@media (max-width: 780px) {
    .bannerContent {
        flex-direction: column;
        padding: 2rem;
    }

    .bannerInfo {
        align-self: flex-start;
    }
}

@media (max-width: 560px) {
    .bannerInfo {
        span:nth-child(1) {
            font-size: 1.5rem;
        }

        span:nth-child(2) {
            font-size: 1rem;
        }

        span:nth-child(3) {
            font-size: 3rem;
        }
    }

    .bannerImageContainer {
        height: 20rem;
        width: 20rem;
        top: 20%;
        left: 10%;
    }
}